body {
    background-color: #5e84eef3;
    color: rgb(182, 235, 113);
    font-size: 30px;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    margin: 40px;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 90%;
}

button {
    background-color: #93f3a8;
    color: rgb(189, 81, 240);
    font-size: 25px;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo{
    display: none;
}
.passo.ativo{
    display: block;
}